[class^="ais-"] {
    font-size: inherit;
}

.app-algoliasearch > .content {
    padding: 20px 0;
}

.ais-SearchBox {
    margin-bottom: 20px;
}

#hits {
    margin-bottom: 20px;
}

.ais-Hits-list .ais-Hits-item {
    display: block;
    width: 100%;
    overflow: hidden;
}

.ais-Hits-list .ais-Hits-item mark {
    padding: 0;
}

.ais-Hits-list .ais-Hits-item a {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.ais-Hits-list .ais-Hits-item p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ais-Hits-list .ais-Hits-item .text p {
    white-space: normal;
    max-height: 150px;
    display: block;
}

.ais-Hits-list .ais-Hits-item .image {
    float: left;
    max-width: 40%;
    padding-right: 10px;
}

.ais-Hits-list .ais-Hits-item .description {
    margin: 0;
}

.algoliasearch-logo {
    max-width: 50px;
}
